#payment_form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin:auto;
}

#final_payment {
    margin:auto;
    color:black;
    font-size: 18px;
    background-color:lightgray;
    border-radius: 12px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:1px;
}


#expireDateContainer {
    display: flex;
    margin-left:auto;
}
#expireDateContainer label{
    margin-right:15px;
    font-size: 15px;
    color: #f9e1c7;
    margin-top:auto;
    margin-bottom:auto;
}

#payment_header {
    color: #f9e1c7;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

#payment_error_message {
    color: red;
}