.website_content {
    width: 70%;
    margin: auto;
}

#movie_heading {
    color: #f6b33e;
    font-family: 'Gabarito', sans-serif;
}

#movie_info {
    color: #f9e1c7;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

#movie_info p {
    margin-bottom: 0.5rem;
}

#stars_table {
    border-collapse: collapse;
    border:hidden;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

#stars_table thead {
    color:#f6b33e;
    font-size: 18px;
    background:black;
}
